// * {
//     border: 1px solid red;
// }

/* Global */
$font-main: 'Montserrat', sans-serif;
$font-text: 'Roboto Slab', serif;
$font-decor: 'Gentium Book Basic', serif;
$font-brand-name: 'Great Vibes', cursive;
$color-main: #FED136;
$color-light: #fff;
$color-dark: #222;
$color-text: #777;
$color-bg: #F7F7F7;

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    line-height: 1.7;
    font-size: 16px;
    font-family: $font-main;
}

section {
    padding: 96px 0;
}

.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-dark;
    margin: 0;
}

.section-subtitle {
    font-family: $font-decor;
    font-size: 16px;
    font-style: italic;
    color: $color-text;
    margin: 0;
}

.content-title {
    font-size: 18px;
    margin: 0;
    text-transform: capitalize;
}

/* Navbar - inside .hero */
.navbar {
    width: 100%;
    position: absolute; // absolute to .hero
    top: 0;
    background-color: $color-dark;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative; //relative to .menu
    }
}

.brand-name {
    font-family: $font-brand-name;
    color: $color-main;
    font-size: 28px;
}

.menu {
    margin: 0;
    padding: 0;
    position: absolute; // absolute to .navbar .container
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    background: $color-dark;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: all .2s ease;
    li {
        padding: 5px 30px;
        font-size: 14px;
        text-transform: uppercase;
        a {
            text-decoration: none;
            color: $color-light;
            font-weight: 600;
        }
    }
}

.menu a:hover, a:focus {
    color: $color-main;
}

.menu-icon {
    font-size: 24px;
    color: $color-main;
    background: $color-light;
    border-radius: 2px;
    cursor: pointer;
    padding: 0 10px;
}

#menu-btn:checked ~ .menu {
    max-height: 200px;
    padding: 15px 0;
    visibility: visible;
    transition: all .2s ease;
}



/* Media */
@media (min-width: 768px) {
    .navbar {
        background-color: transparent;
    }
    .menu {
        visibility: visible;
        max-height: 200px;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        background-color: transparent;
    }
    .hero .menu-icon {
        display: none;
    }
}